.c-addprojects {
    margin-top: 1rem;
}

.cl-add-input {
    width: 350px;
    height: 26px;
    padding: 6px 12px;
    outline: none;
    margin-top: 6px;
    margin-bottom: 25px;
    background: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 15px
}

.s-button {
    padding: 8px 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .c-addprojects {
        position: relative;
        left: 25%;
    }

    .s-button {
        position: relative;
        right: 25%;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .c-addprojects {
        position: relative;
        left: 6%;
    }

    .s-button {
        font-size: 14px;
    }
}