::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 10px white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #F77737;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}